$black: #333;
$background-body: #fdfdfd;
$hover-color: #3397db;
$gray: #aaa;
$white: #fff;
$ligth-gray: #ccc;
$bright-orange: #f18200;
$light-grey2: #f3f3f3;
$dark-grey: #666;
$success: #7fbf4d;
$success-hover: #76b347;
$success-grad: #63a62f;
