//  CSS Document
@import './colors';
@import './fonts';

body,
td,
th,
p {
  color: $black;
  font: {
    family: $font;
    size: 10pt;
  }
}

.map {
  background-color: $ligth-gray;
  height: 400px;
  width: 100%;
}

// HEADER

header {
  background-color: $black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: center;

  a {
    color: $white;
    text-decoration: none;
    text-decoration-color: $white;
  }
}

// List of restaurants

.restaurants-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;

  // Restaurant filtering

  .filter-options {
    align-items: center;
    background-color: $bright-orange;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
      color: $white;
      margin: 10px 0;
    }

    select {
      background-color: $white;
      border: 1px solid $white;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      font-size: 11pt;
      height: 35px;
      letter-spacing: 0;
      margin: 10px;
      padding: 0 10px;
      width: 150px;
    }

    .options {
      margin-bottom: 10px;
    }

    .neighborhood {
      margin-right: 10px;
    }
  }

  // List of restaurants represented in cards

  ul {
    padding: 0;
  }

  li {
    border: 2px solid $ligth-gray;
    border-radius: 10px;
    height: auto;
    list-style-type: none;
    margin: 0 auto 10px;
    padding: 10px;
    width: 90%;

    img {
      height: auto;
      width: 100%;
    }

    h1 {
      text-align: center;
    }

    p {
      font-size: 15px;
    }

    // Styles for button

    a {
      background-color: $success;
      background-image: linear-gradient(top, $success, $success-grad);
      border-radius: 3px;
      margin-bottom: 15px;
      padding: 7px 10px 8px;
      text-align: center;
      text-decoration: none;
    }

    a:hover {
      background-color: $success-hover;
      background-image: linear-gradient(top, $success-hover, $success-grad);
      cursor: pointer;
    }
  }
}

//  FOOTER

footer {
  background-color: $black;
  color: $white;
  font-size: 8pt;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;

  a {
    color: $white;
  }
}
