//  CSS Document
@import './colors';
@import './fonts';

body,
td,
th,
p {
  color: $black;
  font: {
    family: $font;
    size: 10pt;
  }
  margin: 0;
}

.maincontent {
  background-color: $light-grey2;
}

.content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.map {
  background-color: $ligth-gray;
  height: 400px;
  width: 100%;

  @media screen and (min-width: 768px) {
    float: left;
    height: 400px;
    width: 70%;
  }
}

// HEADER

header {
  background-color: $black;
  display: flex;
  justify-content: center;

  a {
    color: $white;
    text-decoration: none;
    text-decoration-color: $white;
  }
}

// List of restaurants

.restaurants-wrapper {
  padding: 0;

  // Restaurant filtering

  .filter-options {
    align-items: center;
    background-color: $bright-orange;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      flex-flow: row wrap;
      justify-content: space-around;
    }

    h2 {
      color: $white;
      margin: 10px 0;
    }

    select {
      background-color: $white;
      border: 1px solid $white;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      font-size: 11pt;
      height: 35px;
      letter-spacing: 0;
      margin: 10px;
      padding: 0 10px;
      width: 150px;
    }

    .options {
      margin-bottom: 10px;
    }

    .neighborhood {
      margin-right: 10px;
    }
  }

  @media screen and (min-width: 768px) {
    background-color: $bright-orange;
    float: right;
    height: 400px;
    width: 30%;
  }
}

//  FOOTER

footer {
  background-color: $black;
  color: $white;
  font-size: 8pt;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;

  a {
    color: $white;
  }
}

// List of restaurants represented in cards
.restaurants-list {
  p {
    margin: 10px;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  li {
    background-color: $white;
    border: 2px solid $ligth-gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    list-style-type: none;
    margin: 5px auto;
    padding: 10px;
    width: 90%;

    img {
      height: auto;
      width: 100%;
    }

    h1 {
      text-align: center;
    }

    p {
      font-size: 15px;
    }

    // Styles for button

    a {
      background-color: $success;
      background-image: linear-gradient(to bottom, $success, $success-grad);
      border-radius: 3px;
      margin-bottom: 15px;
      padding: 14px 20px 16px;
      text-align: center;
      text-decoration: none;
    }

    a:hover {
      background-color: $success-hover;
      background-image: linear-gradient(
        to bottom,
        $success-hover,
        $success-grad
      );
      cursor: pointer;
    }

    @media screen and (min-width: 600px) {
      margin: 10px 0 10px 10px;
      width: 44%;
    }

    @media screen and (min-width: 1023px) {
      margin: 10px 0 10px 10px;
      width: 29.5%;
    }
  }

  @media screen and (min-width: 1025px) {
    margin: 0 auto;
    width: 1025px;
  }
}

.map-info {
  display: none;

  @media screen and (min-width: 768px) {
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    max-width: 300px;
    padding: 20px;
    text-align: justify;
  }
}

.restaurant-container {
  align-items: center;
  background-color: $bright-orange;
  color: $white;
  display: flex;
  flex-direction: column;

  img {
    height: auto;
    width: 95%;
  }

  h1 {
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.1;
    margin: 15px 0;
    text-transform: uppercase;
  }
}

.restaurant-cuisine {
  background-color: $black;
  color: $gray;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 8px;
  margin: 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

.restaurant-address {
  background-color: $white;
  color: $black;
  font-size: 12pt;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

.restaurant-hours {
  background-color: $white;
  border: 1px solid $black;
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 90%;

  td {
    border: 1px solid $black;
  }

  tr:nth-child(even) {
    background-color: $ligth-gray;
    border: 1px solid $black;
  }
}

.reviews-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 5px;
  }
}

.reviews-list {
  margin: 0 auto;
  padding: 0;

  li {
    background-color: $white;
    border: 2px solid $ligth-gray;
    list-style-type: none;
    margin: 5px auto;
    overflow: hidden;
    padding: 0 20px 20px;
    width: 85%;
  }

  p {
    margin: 5px;
    text-align: justify;
  }
}

.restaurant-map {
  height: 400px;
  width: 100%;
}

.breadcrumb {
  font-size: 17px;
  list-style-type: none;
  margin: 5px 0;
  padding-left: 5px;

  li {
    color: $black;
    display: inline-block;
  }

  li::before {
    color: $black;
    content: '/\00a0';
  }

  a {
    color: $hover-color;
    text-decoration: none;
  }
}
